body{
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: greens;

}

.content > h1 {
    font-family: 'Lato', sans-serif;

}

.new-notes {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    background-color: darkgray;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.new-title {
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}


.new-text {
    height: 150px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}

button{
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}

.note-options > button:hover {
    color: blue;
}





.content2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}




.card {
    background-color: darkgray;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-button {
    
}

.d-none {
    display: none;
}





